@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cus-dark: #1E2923;
  --cus-purple: #8d52cc;
  --cus-dark-blue: #1C1DE6;
  --cus-light-blue: #0195E6;
  --cus-light-blue-2: #5AB5FF;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animation-typing {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: .15em solid var(--foreground);
  width: 35ch;
  max-width: 100%; /* Added for responsiveness */
  animation: typing 15s steps(36), blink .1s infinite step-end alternate;
  overflow: hidden;
}

@media (max-width: 600px) { /* Responsive adjustments for smaller screens */
  .animation-typing {
    width: 31ch; /* Adjust width for smaller screens */
  }
}

@keyframes typing {
  from { width: 0 }
}

@keyframes blink {
  50% { border-color: var(--foreground) }
}

.cus-dark-bg {
  background-color: var(--cus-dark);
}
.cus-dark-text {
  color: var(--cus-dark);
}

.cus-purple-bg {
  background-color: var(--cus-purple);
}
.cus-purple-text {
  color: var(--cus-purple);
}

.cus-dark-blue-bg {
  background-color: var(--cus-dark-blue);
}
.cus-dark-blue-text {
  color: var(--cus-dark-blue);
}

.cus-light-blue-bg {
  background-color: var(--cus-light-blue);
}
.cus-light-blue-text {
  color: var(--cus-light-blue);
}

.cus-light-blue-2-bg {
  background-color: var(--cus-light-blue-2);
}
.cus-light-blue-2-text {
  color: var(--cus-light-blue-2);
}

